.shop{
    position:absolute;
    top:25%;
    left:34%;
    width:30%;
    padding-bottom:20px; padding-left:20px; padding-right:20px;
    background-color:white;
    border:3px solid;
}
.shopbutton{
    text-align:center;
}
ul{
    text-align:center;
}
ul > li{
    margin-bottom:5px;
    font-size:20px;
}
li > img{
    margin-left:7px;
}